@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #06402B;
  color: #c0c0ae;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/forest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
}

body * {
  position: relative; 
  z-index: 1;
}

.header-overlay {
  display: flex;
  align-items: center; /* Center logo and text vertically */
  position: absolute;
  top: 2%; /* Adjust height placement */
  left: 2%; /* Adjust left placement */
  text-align: left; /* Text aligned to the right of the logo */
  z-index: 2;
}

.header-overlay a {
  display: inline-block;
  margin-right: 3%;
}

.header-overlay img {
  height: 10vh; /* Responsive logo size */
  margin-right: 5%; /* Space between logo and text */
}

.header-overlay h1 {
  font-size: 5vh; /* Responsive font size */
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  margin: 0;
  display: flex; /* Ensure the text stays on one line */ 
  align-items: center;
  display: inline-block; /* Ensure the text stays on one line */ 
  white-space: nowrap; /* Prevent wrapping */
}

.nav-links {
  display: flex; /* Flexbox for horizontal alignment */
  position: absolute;
  top: 2%;
  right: 2%; /* Adjust right placement */
  text-align: right;
  z-index: 2;
}

.nav-links a {
  color: #c0c0ae;
  text-decoration: none;
  font-size: 2vh; /* Responsive font size */
  margin-left: 2%; /* Increased spacing between links */
  padding: 1vh; /* Responsive padding */
}

.nav-links a:first-child {
  margin-left: 0; /* No margin for the first link */
}

.nav-links a:hover {
  text-decoration: underline;
}

#map {
  width: 90%; /* Adjust width */
  max-width: 1200px; /* Maximum width */
  height: 70vh; /* Adjust height */
  margin: 12vh auto; /* Add vertical space and center horizontally */
  border: 2px solid #c0c0ae; /* Optional: border */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); /* Optional: shadow */
  border-radius: 1vh; /* Rounded corners */
  display: block; /* Block element */
  overflow: hidden; /* Prevent overflow from rounding */
}

.map-container {
  text-align: center; /* Ensures the map container is centered */
  padding: 2vh 0; /* Adds some vertical spacing */
}

.bike-rack-marker {
  background-image: url('/static/bicycle2.png'); /* Replace with the path to your bike rack image */
  background-size: cover;
  width: 5vh; /* Responsive width of the marker */
  height: 5vh; /* Responsive height of the marker */
  cursor: pointer;
  border-radius: 50%; /* Optional: For rounded markers */
}
.repair-marker {
  background-image: url('/static/bicycle.png'); /* Replace with the path to your bike rack image */
  background-size: cover;
  width: 5vh; /* Responsive width of the marker */
  height: 5vh; /* Responsive height of the marker */
  cursor: pointer;
  border-radius: 50%; 
}

.recommendation-marker {
  background-image: url('/static/URBike.png'); /* Replace with the path to your bike rack image */
  background-size: cover;
  width: 3vh; /* Responsive width of the marker */
  height: 3vh; /* Responsive height of the marker */
  cursor: pointer;
  border-radius: 50%; 
}


.mapboxgl-ctrl-directions-summary {
  display: none;
}


.mapboxgl-ctrl-directions-summary {
  display: none;
}

.form-outline {
  margin-bottom: 1rem; /* Add spacing between form fields */
}

.form-control {
  width: 100%; /* Ensure full width for form controls */
  padding: 0.75rem 1.25rem; /* Add padding for better touch targets */
  font-size: 1rem; /* Adjust font size for better readability */
  border-radius: 0.25rem; /* Add some border radius for a nice look */
  background-color: rgba(255, 255, 255, 0.8);
  color: #333
}

.form-label {
  margin-left: 0.5rem; /* Add a little space to label */
}

.btn-primary {
  width: 100%; /* Full width button */
  background-color: #4CAF50;
  border: none;
}

.btn-primary:hover { 
  background-color: #45a049; /* Darker green for hover effect */ 
}

.vh-100 {
  height: 100vh; /* Full viewport height */
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin-top: -5vh;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

#register-link {
  color: #c0c0ae; /* Same color as .nav-links a */
  text-decoration: none;
  font-size: inherit; /* Responsive font size */
}

#register-link:hover {
  text-decoration: underline;
}

.alert-messages {
  margin-top: 20px; /* Add margin to move the messages down */
  padding: 10px; /* Add padding for better readability */
  background-color: rgba(76, 175, 80, 0.3);
  border: 1px solid #4CAF50; /* Border to match the background color */
  color: white; /* Dark red text color */
  border-radius: 4px; /* Rounded corners */
  list-style-type: none; /* Remove bullet points */
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alert-messages li {
  margin-bottom: 5px; /* Space between individual messages */
}

.custom-button {
  display: inline-block;
  background-color: #c0c0ae; /* Off-white color */
  color: #06402B; /* Dark green text */
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px; /* Rounded corners */
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #a8a892; /* Slightly darker off-white on hover */
}

