{% extends "base.html" %}

{% block main %}
<div id="map" style="width: 85%; height: 60vh;"></div>
{% endblock %}

{% block scripts %}
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGhhcmkiLCJhIjoiY20za2oza2twMGZ0ZTJpcHd4bm1rNnZsYSJ9.aTw69jaVO9sD3m81sMObfg';
const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/navigation-guidance-day-v4',
  center: [-77.6298, 43.1286], // Coordinates for University of Rochester
  zoom: 16.4,
  pitch: 0, // Keep the pitch to 0 for top-down view
  bearing: 0,
  antialias: true
});



// Add 3D buildings
map.on('load', () => {
  map.addLayer({
    'id': '3d-buildings',
    'source': 'composite',
    'source-layer': 'building',
    'filter': ['==', 'extrude', 'true'],
    'type': 'fill-extrusion',
    'minzoom': 15,
    'paint': {
      'fill-extrusion-color': '#aaa',
      'fill-extrusion-height': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'height']
      ],
      'fill-extrusion-base': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'min_height']
      ],
      'fill-extrusion-opacity': 0.6
    }
  });

  // Add bike rack markers
  const bikeRacks = [
    { coordinates: [-77.629503, 43.128123], name: "Rush Rhees Library Bike Rack" },
    // Add more bike rack locations as needed
  ];

  bikeRacks.forEach(rack => {
  // Create a marker element with the bike rack image
  const el = document.createElement('div');
  el.className = 'bike-rack-marker';

  // Add marker to map
  new mapboxgl.Marker(el)
    .setLngLat(rack.coordinates)
    .setPopup(new mapboxgl.Popup().setHTML(rack.name)) // Add a popup if needed
    .addTo(map);
});
});
</script>
{% endblock %}

