{% extends "base.html" %}

{% block main %}
<div class="map-container">
    <div id="map"></div>
</div>
<div class="button-container text-center mt-4">
  <a href="/index" class="custom-button">Recommendations</a>
  <a href="/index" class="custom-button">Routes</a>
  <a href="/repair" class="custom-button">Repair</a>
</div>
{% endblock %}

{% block scripts %}
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGhhcmkiLCJhIjoiY20za2oza2twMGZ0ZTJpcHd4bm1rNnZsYSJ9.aTw69jaVO9sD3m81sMObfg';

document.addEventListener("DOMContentLoaded", () => {
  const map = new mapboxgl.Map({
    container: 'map', // ID of the container
    style: 'mapbox://styles/mapbox/navigation-guidance-day-v4', // Map style
    center: [-77.6298, 43.1286], // University of Rochester coordinates
    zoom: 16.4, // Initial zoom level
    pitch: 0,
    bearing: 0,
    antialias: true
  });


  const nav = new mapboxgl.NavigationControl();
  map.addControl(nav);

//   //adding directions
// var mapboxgl = require('mapbox-gl');
// var MapboxDirections = require('@mapbox/mapbox-gl-directions');

// var directions = new MapboxDirections({
//   accessToken: 'pk.eyJ1IjoicGhhcmkiLCJhIjoiY20za2oza2twMGZ0ZTJpcHd4bm1rNnZsYSJ9.aTw69jaVO9sD3m81sMObfg',
// });


// map.addControl(directions, 'top-left');

// Adding directions without require statements
var directions = new MapboxDirections({
  accessToken: 'pk.eyJ1IjoicGhhcmkiLCJhIjoiY20za2oza2twMGZ0ZTJpcHd4bm1rNnZsYSJ9.aTw69jaVO9sD3m81sMObfg',
  profile: 'mapbox/cycling',
  controls: {
    inputs: true,           // Show or hide the origin and destination inputs
    profileSwitcher: false, // Disable profile switching
    instructions: false     // Hide turn-by-turn instructions
    
  }
});

map.addControl(directions, 'top-left');



// Add 3D buildings
map.on('load', () => {
  map.addLayer({
    'id': '3d-buildings',
    'source': 'composite',
    'source-layer': 'building',
    'filter': ['==', 'extrude', 'true'],
    'type': 'fill-extrusion',
    'minzoom': 15,
    'paint': {
      'fill-extrusion-color': '#aaa',
      'fill-extrusion-height': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'height']
      ],
      'fill-extrusion-base': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'min_height']
      ],
      'fill-extrusion-opacity': 0.6
    }
  });
});

// Fetch locations from the server
  fetch('/locations')
            .then(response => response.json())
            .then(data => {
                data.forEach(location => {

                    const el = document.createElement('div');
                    if (location.parking) {
                        el.className = 'bike-rack-marker';
                    } else if (location.repair) {
                        el.className = 'repair-marker';
                    } else {
                        el.className = 'recommendation-marker';
                    }
                    // Add a marker for each location
                    new mapboxgl.Marker(el)
                        .setLngLat([location.latitude, location.longitude])
                        .setPopup(new mapboxgl.Popup().setHTML(`
                            <h4>${location.name}</h4>
                            ${location.picture ? `<img src="${location.picture}" alt="${location.name}" style="width:100px;height:auto;">` : ''}
                            ${location.description ? `<p>${location.description}</p>` : ''}
                        `))
                        .addTo(map);
                });
            });

});



</script>

{% endblock %}
