{% extends "base.html" %}

{% block main %}
<div class="map-container">
    <div id="map"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGhhcmkiLCJhIjoiY20za2oza2twMGZ0ZTJpcHd4bm1rNnZsYSJ9.aTw69jaVO9sD3m81sMObfg';

document.addEventListener("DOMContentLoaded", () => {
  const map = new mapboxgl.Map({
    container: 'map', // ID of the container
    style: 'mapbox://styles/mapbox/navigation-guidance-day-v4', // Map style
    center: [-77.6298, 43.1286], // University of Rochester coordinates
    zoom: 16.4, // Initial zoom level
    pitch: 0,
    bearing: 0,
    antialias: true
  });



// Add 3D buildings
map.on('load', () => {
  map.addLayer({
    'id': '3d-buildings',
    'source': 'composite',
    'source-layer': 'building',
    'filter': ['==', 'extrude', 'true'],
    'type': 'fill-extrusion',
    'minzoom': 15,
    'paint': {
      'fill-extrusion-color': '#aaa',
      'fill-extrusion-height': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'height']
      ],
      'fill-extrusion-base': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'min_height']
      ],
      'fill-extrusion-opacity': 0.6
    }
  });
});
</script>
{% endblock %}